{% extends "base.html" %}

{% block mainbody %}

    <div class="ui inverted attached stackable menu">
  <div class="ui container">
    <a class="item" href="http://127.0.0.1:8000/signup">
      <i class="home icon"></i> Sign up
    </a>
    <a class="item" href="http://127.0.0.1:8000/login">
      <i class="grid layout icon"></i> Log in
    </a>
    <a class="item" href="http://127.0.0.1:8000/admin">
      <i class="edit icon"></i> Manage Database
    </a>
      <a class="item" href="http://127.0.0.1:8000/report_filter">
      <i class="edit icon"></i> Report Filter
    </a>
{#    <div class="ui simple dropdown item">#}
{#      More#}
{#      <i class="dropdown icon"></i>#}
{#      <div class="menu">#}
{#        <a class="item" href="http://127.0.0.1:8000/login"><i class="edit icon"></i> Log out</a>#}
{#        <a class="item"><i class="globe icon"></i> Choose Language</a>#}
{#        <a class="item"><i class="settings icon"></i> Account Settings</a>#}
{#      </div>#}
{#    </div>#}
    <div class="right item">
      <div class="ui input"><input type="text" placeholder="Search..."></div>
    </div>
  </div>
</div>


    <div class="three wide column">
    </div>

  <div class="row">
    <div class="three wide column">
    </div>
    <div class="ten wide column">

    </div>
    <div class="three wide column">
    </div>
  </div>
</div>

    <div class="ui raised very padded text container segment">
  <h2 class="ui header">Introduction</h2>
        <br><br>
  Welcome to Stephanos Kung Fu Club!
</div>

{% endblock %}