{% extends "base.html" %}

{% block mainbody %}
    <div class="ui vertical very padded segment">
    <div class="ui grid">
  <div class="row">
    <div class="three wide column">
    </div>
    <div class="ten wide column">
        <h2>Log in</h2>
        <p>{{ signin_success }}</p>
        <div class="ui divider"></div>
        <form class="ui form" action="/login/" method="post">
            {% csrf_token %}
          <div class="field">
            <label>User name</label>
            <input type="text" name="username" >
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="password">
          </div>
          <div style="text-align: center"><button class="ui button" type="submit">Submit</button></div>
{#                <div class="ui clear button">Clear</div>#}
                <div class="ui error message"></div>
                <div style="text-align: center"><a class="item" href="http://127.0.0.1:8000/signup">You don't have an account? Sign up, please.</a></div>
       </form>


        <p>{{ error_message }}</p>


    </div>
    <div class="three wide column">
    </div>
  </div>
    </div>
    </div>

{#    <script>#}
{#    $("form").form('clear');#}
{##}
{#    $('form')#}
{#    .form({#}
{#    fields: {#}
{#      username: {#}
{#        identifier: 'username',#}
{#        rules: [#}
{#          {#}
{#            type   : 'empty',#}
{#            prompt : 'Please enter a username'#}
{#          }#}
{#        ]#}
{#      },#}
{#        password: {#}
{#        identifier: 'password',#}
{#        rules: [#}
{#          {#}
{#            type   : 'empty',#}
{#            prompt : 'Please enter a password'#}
{#          },#}
{#          {#}
{#            type   : 'minLength[6]',#}
{#            prompt : 'Your password must be at least {ruleValue} characters'#}
{#          }#}
{#        ]#}
{#      }#}
{#    }#}
{#  });#}
{#    </script>#}

{% endblock %}