{% extends "base.html" %}

{% block mainbody %}
    <div class="ui sticky">
<div class="ui inverted attached stackable menu">
  <div class="ui container">
    <a class="item" href="http://127.0.0.1:8000/hello">
      <i class="home icon"></i> Home
    </a>
    <a class="item" href="http://127.0.0.1:8000/login">
      <i class="grid layout icon"></i> Log out
    </a>
    <a class="item" href="http://127.0.0.1:8000/edit">
      <i class="edit icon"></i> Edit Profile
    </a>
    <div class="ui simple dropdown item">
      More
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="http://127.0.0.1:8000/login"><i class="edit icon"></i> Log out</a>
        <a class="item"><i class="globe icon"></i> Choose Language</a>
        <a class="item"><i class="settings icon"></i> Account Settings</a>
      </div>
    </div>
    <div class="right item">
      <div class="ui input"><input type="text" placeholder="Search..."></div>
    </div>
  </div>
</div>
    </div>

    <div id="mycontent" class="ui vertical very padded segment">
    <div class="ui grid">
  <div class="row">
    <div class="three wide column">
    </div>
    <div class="ten wide column">
    {% block pf %}
    {% endblock %}
    </div>
    <div class="three wide column">
    </div>
  </div>
    </div>
    </div>

    <script>
        $('.ui.sticky')
            .sticky({
        context: '#mycontent'
        });
    </script>

{% endblock %}