{% extends "base.html" %}

{% block mainbody %}
<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item">
      <i class="home icon"></i> Home
    </a>
    <a class="item" href="http://127.0.0.1:8000/report_filter">
      <i class="grid layout icon"></i> Produce report
    </a>
    <a class="item" href="http://127.0.0.1:8000/admin">
      <i class="edit icon"></i> Manage DB
    </a>

    <div class="right item">
      <div class="ui input"><input type="text" placeholder="Search..."></div>
    </div>
  </div>
</div>

    <div class="ui vertical very padded segment">
    <div class="ui grid">
  <div class="row">
    <div class="three wide column">
    </div>
    <div class="ten wide column">

    <table class="ui celled table">
  <thead>
    <tr><th>First Name</th>
    <th>Last Name</th>
    <th>Join Date</th>
  </tr>
  </thead>
  <tbody>
  {% for stu in student_list %}
    <tr>
      <td>{{ stu.stu_fname }}</td>
      <td>{{ stu.stu_lname }}</td>
      <td>{{ stu.stu_join_date }}</td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr><th colspan="3">
      <div class="ui right floated pagination menu">
        <a class="icon item">
          <i class="left chevron icon"></i>
        </a>
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div>
    </th>
  </tr></tfoot>
 </table>
{#        {% for stu in student_list %}#}
{#        <ul>#}
{#            <li>{{ stu.stu_fname }}</li>#}
{#        </ul>#}
{#        <ul>#}
{#            <li>{{ stu.stu_lname }}</li>#}
{#        </ul>#}
{#        {% endfor %}#}
    </div>
    <div class="three wide column">
    </div>
  </div>
    </div>
    </div>


{% endblock %}